# Environment variables
.env
*.env
.ENV
*.ENV

# Node
node_modules/
**/node_modules/
dist/
**/dist/

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
*.egg-info/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
